body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 20px;
}

#pokemon-details {
    margin-top: 20px;
}

#pokemon-image {
    width: 150px;
    height: 150px;
}

.type-box {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.normal { background-color: #A8A878; }
.fogo { background-color: #F08030; }
.água { background-color: #6890F0; }
.elétrico { background-color: #F8D030; }
.grama { background-color: #78C850; }
.gelo { background-color: #98D8D8; }
.lutador { background-color: #C03028; }
.veneno { background-color: #A040A0; }
.terra { background-color: #E0C068; }
.voador { background-color: #A890F0; }
.psíquico { background-color: #F85888; }
.inseto { background-color: #A8B820; }
.pedra { background-color: #B8A038; }
.fantasma { background-color: #705898; }
.dragão { background-color: #7038F8; }
.noturno { background-color: #705848; }
.metálico { background-color: #B8B8D0; }
.fada { background-color: #EE99AC; }

.evolution-sprite {
    width: 75px;
    height: 75px;
    cursor: pointer;
    margin: 5px;
}
